<html>
    <head>

        <style>
            .table-container {
                border-color: black;
                border-style: solid;
                border-width: medium;
            }
        </style>

    </head>
    <body>
        <div>
            <span>Go back to <a href="{% url 'index' %}">Home</a></span>
        </div>
        <div>
            <form class="formset-container" method="post" action="">
                {{ formset.management_form }}
                <table class="table-container">
                    {% for form in formset %} 
                        {{ form }} 
                    {% endfor %}
                </table>
            </form>
        </div>
    </body>
</html>